/****** File: 001_R1.0_EV_ADAPTER_SETTINGS_NEW_TABLE.sql ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DECLARE @RC int

EXECUTE @RC = dbo.usr_DB_Add_Database_Update 
   001, 'R1.0','ED_ADAPTER_SETTINGS ', 
   'ADD NEW TABLE.'

GO

PRINT N'START: 001_R1.0_EV_ADAPTER_SETTINGS_NEW_TABLE.'; 
GO

/****** Object:  Table dbo.ED_ADAPTER_SETTINGS    Script Date: 12/27/2020 16:06:48 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ED_ADAPTER_SETTINGS') AND type in (N'U'))
BEGIN

CREATE TABLE dbo.ED_ADAPTER_SETTINGS(
	AS_GUID uniqueidentifier NOT NULL,
	AS_APPLICATION_ID char(1) NOT NULL,
	AS_HOME_PAGE_HEADER nvarchar(100) NULL,
	AS_HELP_URL nvarchar(50) NULL,
	AS_MAX_SELECTION_LENGTH int NULL,
	AS_SMTP_SERVER varchar(100) NULL,
	AS_SMTP_PORT int NULL,
	AS_SMTP_USER_ID nvarchar(100) NULL,
	AS_SMTP_PASSWORD nvarchar(50) NULL,
	AS_ALERT_EMAIL_ADDRESS nvarchar(50) NULL,
	AS_APPLICATION_URL varchar(50) NULL,
	AS_STATE varchar(30) NULL,
	AS_TITLE nvarchar(50) NULL,
	AS_HTTP_REFERENCE nvarchar(250) NULL,
	AS_DESCRIPTION nvarchar(max) NULL,
	AS_ROLES nvarchar(500) NULL,
	AS_UPDATE_USER_ID nvarchar(100) NULL,
	AS_UPDATE_USER nvarchar(100) NULL,
	AS_UPDATE_DATE datetime NULL
) 

END
GO

SET ANSI_PADDING OFF
GO


/****** Object:  Table dbo.ED_ADAPTER_SETTINGS    Script Date: 12/27/2020 16:06:48 ******/
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.ED_ADAPTER_SETTINGS') AND type in (N'U'))
BEGIN
ALTER TABLE dbo.ED_ADAPTER_SETTINGS ADD  CONSTRAINT DF_APP_AS_DELETED  DEFAULT ((0)) FOR AS_DELETED
END
GO




PRINT N'FINISH: 001_R1.0_EV_ADAPTER_SETTINGS_NEW_TABLE.'; 
go

/*************************************  END OF SQL DB UPDATE SCRIPT *****************************************/


