<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- for information on setting the values for the connection strings see the configTool project -->
    <add key="EventLogName" value="Evado Digital" />
    <add key="Source_0" value="Digital Web Client" />
    <add key="Source_1" value="Digital Services" />
    <add key="Source_2" value="Digital Adapter" />
  </appSettings>
</configuration>
