<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FilePath" value=".\"/>
    <add key="ProjectId" value="REG01"/>
    <add key="-OrgId" value="ACC"/>
    <add key="-FormId" value="MH01"/> 
    <!-- MA01 DEAS01 -->
    <add key="-SubjectId" value="CATChEz-S00088"/>
    <add key="-QueryType" value="Visit_Record_Template"/>
    <!--Export_Project_Records, Export_Comcomitant_Medications, Export_Adverse_Events, Export_Serious_Adverse_Events, Import_Subjects -->
    <add key="-ImportFileName" value="CATChEz-Export_Subjects-data.csv"/>
    <add key="DeugOn" value="true"/>
    <add key="XmlResultFile" value="false"/>
    <add key="RelativeWcfRestURL" value="int/service/"/>
    <add key="RelativeBinaryDownloadURL" value="images/temp/"/>
    <add key="RelativeBinaryUploadURL" value="images/default.aspx"/>
    <!--
     EVS01 DEV:  http://192.168.3.248:8080/ra/ec/
     EVW01:  http://172.16.89.141:8080/ec/
    -->
    <add key="WebServiceUrl" value="http://172.16.89.141:8080/ec/"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
